$main-font-family: "Space Mono", "Sans Serif";
$font-weight-700: 700;
$font-size-16: 16px;
$font-size-24: 24px;
$font-size-13: 13px;
$font-size-20: 20px;

$background-color: hsl(185, 41%, 84%);
$input-background-color: #f3f9fa;
$text-color: #5e7a7d;
$main-green-color: #00474b;
$secondary-green-color: #26c2ae;
